name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: make
      run: make -C Lab7C/Lab7C/
#     - name: make2
#       run: make -C LabC2/Project6ะก/
#     - name: make1
#       run: make -C LabC1/Project3/
#     - name: make3
#       run: make -C Lab3C/Lab3C/
#     - name: make4
#       run: make -C Lab4C/Lab4C/Lab4C/
#     - name: make5
#       run: make -C Lab5C/Lab5C/

