name: Codecov
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch
        uses: actions/checkout@master
      - name: Test
        run: |
          make -C Lab7C/Lab7C/
      - name: Upload
        uses: codecov/codecov-action@v1
        with:
          files: 
              -C Lab7C/Lab7C/Source.c.gcov
